.alignleft {
  float: left;
}

.alignright {
  text-align: right;
  margin-bottom: 0px;
}

.box.box-solid.box-primary>.box-header {
  background: #F05927;
}

.box.box-solid.box-primary {
  border: 1px solid #F8ab93;
}

.box.box-primary {
  border: 3px solid #F05927;
}

.col-sm-3 > .box {
  border: 3px solid #F05927;  
}

.col-sm-6 > .box {
  border-top: none;
  box-shadow: none;
}

.skin-blue .main-header .logo {
  background-color: #3c8dbc;
}

.skin-blue .main-header .logo:hover {
  background-color: #3c8dbc;
}

.content-wrapper,
.right-side {
  background-color: #0C4159;
}

.btn-info, .btn-default {
  /*  width:150px;
  font-size:1.2em; */
    color: #fff;
    background-color: #6A3163;
    border-color: #6A3163;
}

/*
  .btn-default {
    width:195px;
    font-size:1.5em;
  } 
*/	
  
  .btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-default:hover,
.btn-default.hover,
.btn-default:focus, 
.btn-default.focus,
.open>.dropdown-toggle.btn-info,
.open>.dropdown-toggle.btn-default {
  color: #fff;
    background-color: #F05927 !important;
    border-color: #F05927;
}

.h3 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.strokeme {
  text-shadow:
    -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  letter-spacing: 2px;
}
